section#base_layout {
  height: 100vh;
  max-height: 100vh;
}

section#content {
  padding: 1.5rem 0.75rem;
  height: calc(100vh - 3.5rem);
}

.col-0.shrink {
  width: 0;
  flex-shrink: 1;
  opacity: 0;
  transition: all 0ms ease-in-out;
}

.col-2.grow {
  flex-grow: 1;
  opacity: 1;
  transition: all 0ms ease-in-out;
}

.col-10.shrink {
  flex-shrink: 1;
  opacity: 1;
  transition: all 0ms ease-in-out;
}

.col-12.grow {
  flex-grow: 1;
  opacity: 1;
  transition: all 0ms ease-in-out;
}
