<app-base-layout>
    <div class="row mb-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end">
            <app-action-button [ActionButton]="ActionButton" (onClickActionButton)="handleClickActionButton($event)">
            </app-action-button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ps-0">
            <div class="card shadow-sm">
                <div class=" card-header bg-abu">
                    <h4 class="modal-title">Pasien Information</h4>
                </div>
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 mb-3">
                            <div class="card border-0 shadow-sm" style="height: 10.3rem;">
                                <div class="card-body p-0 bg-abu">
                                    <img *ngIf="PathFoto !== ''" [src]="PathFoto" alt="foto_pasien"
                                        style="height: 10.3rem; width: 100%;">
                                </div>
                            </div>
                        </div>

                        <!-- Nama Pasien -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <app-form-label [Caption]="'Nama Pasien'"></app-form-label>
                            <div class="input-group input-group-sm mb-0">
                                <input id="full_name" type="text" class="form-control" readonly>
                                <span class="input-group-text bg-hijau-tua border-0 cursor-pointer"
                                    style="border-top-right-radius: 0.2rem; border-bottom-right-radius: 0.2rem;  "
                                    id="SearchPasien" (click)="FilterDialogPasien.onOpenFilterDialog()">
                                    <i class="fas fa-search fa-xs text-white"></i>
                                </span>

                                <app-filter-dialog #FilterDialogPasien [FilterDialogProp]="FilterDialogProp"
                                    (onChooseResult)="handleChooseFilterDialogPasien($event)">
                                </app-filter-dialog>
                            </div>
                        </div>

                        <!-- No. Rekam Medis -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <app-form-label [Caption]="'No. Rekam Medis'"></app-form-label>
                            <input id="no_rekam_medis" type="text" class="form-control form-select-sm" readonly>
                        </div>

                        <!-- No. Identitas -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'No. Identitas'"></app-form-label>
                            <input id="no_identitas" type="text" class="form-control form-select-sm" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pe-0">
            <div class="card shadow-sm">
                <div class="card-header bg-abu">
                    <h4 class="modal-title">
                        List Pelayanan Pasien
                    </h4>
                </div>
                <div class="card-body" style="height: calc(100vh - 15rem); overflow-y: auto;">
                    <div class="row">
                        <div *ngFor="let item of ListRiwayat; let i = index;"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 mb-2 cursor-pointer"
                            (click)="handleClickListRiwayat(item, i)">
                            <div [id]="'cardListTreatment' + i" class="card border-0 shadow-sm">
                                <div class="card-body p-2">
                                    <p class="text-hijau-tua mb-1 fw-bold">
                                        {{ item.tgl_admisi | date: 'dd MMM yyyy' }}
                                    </p>
                                    <p class="text-hijau-tua mb-1">
                                        No. Register : {{ item.no_register }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Riwayat -->
    <ng-template #ModalRiwayat>
        <div class="modal-header py-2 bg-abu">
            <h4 class="modal-title pull-left">
                Detail Resep & Treatment Pasien
            </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <!-- Riwayat Treatment -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Riwayat Treatment</h5>
                        </div>
                        <div class="card-body p-0" style="height: 10rem;">
                            <app-grid #GridDetailTreatmentComp [GridAttributes]="GridDetailTreatmentAttributes">
                            </app-grid>
                        </div>
                    </div>
                </div>

                <!-- Riwayat Resep -->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title mb-0">Riwayat Resep</h5>
                        </div>
                        <div class="card-body p-0" style="height: 10rem;">
                            <app-grid #GridDetailResepComp [GridAttributes]="GridDetailResepAttributes">
                            </app-grid>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-primary btn-sm"
                (click)="handleCetakNota(SelectedListRiwayat.id_register)">
                Cetak Nota
            </button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef?.hide()">
                Close
            </button>
        </div>
    </ng-template>
</app-base-layout>