<app-base-layout>
    <div class="row mb-3">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end">
            <app-action-button [ActionButton]="ActionButton" (onClickActionButton)="handleClickActionButton($event)">
            </app-action-button>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ps-0">
            <div class="card shadow-sm">
                <div class=" card-header bg-abu">
                    <p class="modal-title">Pasien Information</p>
                </div>
                <div class="card-body" style="height: calc(100vh - 14.1rem); overflow-y: auto;">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 mb-3">
                            <div class="card border-0 shadow-sm" style="height: 8.5rem;">
                                <div class="card-body p-0 bg-abu">
                                    <img *ngIf="PathFoto !== ''" [src]="PathFoto" alt="foto_pasien"
                                        style="height: 8.5rem; width: 100%;">
                                </div>
                            </div>
                        </div>

                        <!-- Nama Pasien -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <app-form-label [Caption]="'Nama Pasien'"></app-form-label>
                            <div class="input-group input-group-sm mb-0">
                                <input id="nama_pasien" type="text" class="form-control" readonly>
                                <span class="input-group-text bg-hijau-tua border-0 cursor-pointer"
                                    style="border-top-right-radius: 0.2rem; border-bottom-right-radius: 0.2rem;  "
                                    id="SearchPasien" (click)="FilterDialogPasien.onOpenFilterDialog()">
                                    <i class="fas fa-search fa-xs text-white"></i>
                                </span>

                                <app-filter-dialog #FilterDialogPasien [FilterDialogProp]="FilterDialogProp"
                                    (onChooseResult)="handleChooseFilterDialogPasien($event)">
                                </app-filter-dialog>
                            </div>
                        </div>

                        <!-- No. Rekam Medis -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <app-form-label [Caption]="'No. Rekam Medis'"></app-form-label>
                            <input id="no_rekam_medis" type="text" class="form-control form-select-sm" readonly>
                        </div>

                        <!-- Keluhan -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Keluhan'"></app-form-label>
                            <textarea id="keluhan" type="text" class="form-control form-select-sm" readonly rows="3">
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 pe-0">
            <div class="card shadow-sm">
                <div class="card-header bg-abu">
                    <p class="modal-title">
                        Daftar Obat
                    </p>
                </div>
                <div class="card-body" style="height: calc(100vh - 14.1rem); overflow-y: auto;">
                    <div class="row">
                        <div *ngFor="let item of ListResep; let i = index;"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 mb-2 cursor-pointer"
                            (click)="handleClickListResep(item, i)">
                            <div [id]="'cardListResep' + i" class="card border-0 shadow-sm">
                                <div class="card-body p-2">
                                    <h5 class="text-hijau-tua mb-1 fw-bold">
                                        {{ item.nama_obat | titlecase }}
                                    </h5>
                                    <p class="text-hijau-tua mb-1">
                                        {{ item.qty }} @ {{ item.unit_amount | currency: 'Rp. ' }}
                                    </p>
                                    <p class="text-hitam mb-0">
                                        {{ item.total_amount | currency: 'Rp. ' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Insert Update Resep -->
    <ng-template #ModalInsertUpdateResep>
        <div class="modal-header py-2 bg-abu">
            <h4 class="modal-title pull-left">
                Add Obat
            </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="FormInsertUpdateResep">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Nama Obat -->
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Nama Obat'"></app-form-label>
                                <ejs-dropdownlist [dataSource]="DropdownObatDatasource" [fields]="DropdownObatField"
                                    (change)="handleChangeDropdownResep($event)" formControlName="id_obat">
                                </ejs-dropdownlist>
                                <app-form-validator [Show]="id_obat.touched && id_obat.invalid"
                                    [Caption]="'Nama Obat Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>
                        </div>

                        <!-- Cara Pakai -->
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Cara Pakai Obat'"></app-form-label>
                                <input type="text" class="form-control form-select-sm"
                                    formControlName="keterangan_pemakaian" readonly>
                            </div>
                        </div>

                        <!-- Kandungan Obat -->
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Kandungan Obat'"></app-form-label>
                                <textarea type="text" class="form-control form-select-sm"
                                    formControlName="kandungan_obat" rows="3">
                                </textarea>
                            </div>
                        </div>

                        <!-- Qty -->
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Qty Obat'"></app-form-label>
                                <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                                    formControlName="qty"
                                    (change)="total_amount.setValue(qty.value * unit_amount.value)">
                                </ejs-numerictextbox>
                                <app-form-validator [Show]="qty.touched && qty.invalid"
                                    [Caption]="'Qty Obat Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>
                        </div>

                        <!-- Unit Amount -->
                        <div class="row mb-3">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Harga Obat'"></app-form-label>
                                <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                                    formControlName="unit_amount" [enabled]="false"
                                    (change)="total_amount.setValue(qty.value * unit_amount.value)">
                                </ejs-numerictextbox>
                                <app-form-validator [Show]="qty.touched && qty.invalid"
                                    [Caption]="'Qty Obat Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>
                        </div>

                        <!-- Total Amount -->
                        <div class="row mb-0">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <app-form-label [Caption]="'Subtotal'"></app-form-label>
                                <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                                    formControlName="total_amount" [enabled]="false">
                                </ejs-numerictextbox>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef?.hide()">
                Close
            </button>
            <button type="button" class="btn btn-primary btn-sm"
                (click)="onSaveInsertUpdateResep(FormInsertUpdateResep.value)">
                Add
            </button>
        </div>
    </ng-template>
</app-base-layout>