<section id="authentication">
    <div class="row align-items-center h-100">
        <!-- Image -->
        <div id="divImage" class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-center">
            <img id="imgLogin" src="../../../assets/image/undraw_welcome_re_h3d9.svg" alt="undraw_welcome_re_h3d9">
        </div>

        <!-- Form -->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 h-100 bg-abu">
            <div class="row align-items-end h-100">
                <div id="divFormImage" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <img src="../../../assets/image/botox.png" alt="botox" class="imgBotox">
                </div>

                <div id="divFormText" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h3 id="formHeading" class="text-hijau-tua mb-2 fw-bold">
                        Sign In and Learn The Application
                    </h3>
                    <p id="formDescription" class="text-hijau-muda mb-0">
                        We provide variant data that you can use it in order to get the better result
                    </p>
                </div>

                <div id="divFormCard" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card shadow border-0 border-radius-20-top h-100">
                        <div class="card-body pt-5 px-5">
                            <form [formGroup]="FormAuth">
                                <!-- Username -->
                                <div class="row mb-4">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <app-form-label [Caption]="'Username'"></app-form-label>
                                        <input class="form-control" formControlName="user_name">
                                        <app-form-validator [Caption]="'Username Tidak Boleh Kosong'"
                                            [Show]="user_name.touched && user_name.invalid">
                                        </app-form-validator>
                                    </div>
                                </div>

                                <!-- Password -->
                                <div class="row mb-4">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <app-form-label [Caption]="'Password'"></app-form-label>
                                        <div class="input-group mb-0">
                                            <input type="text" id="password" class="form-control"
                                                formControlName="password" type="password"
                                                aria-describedby="passwordToggle"
                                                (keyup.enter)="handleSubmitFormAuthentication(FormAuth.value)">
                                            <span class="input-group-text" id="passwordToggle"
                                                (click)="onTogglePassword(this.SeePassword)">
                                                <i id="passwordToggleIcon" class="fas fa-eye fa-sm"></i>
                                            </span>
                                        </div>
                                        <app-form-validator [Caption]="'Password Tidak Boleh Kosong'"
                                            [Show]="password.touched && password.invalid">
                                        </app-form-validator>
                                    </div>
                                </div>

                                <!-- Sign In -->
                                <div class="row mb-4">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-grid gap-2">
                                        <app-button-primary [Caption]="'Sign In'"
                                            (handleClickBtnPrimary)="handleSubmitFormAuthentication(FormAuth.value)">
                                        </app-button-primary>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>