<div class="row" [formGroup]="FormPaymentMethod">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
        <!-- Kurang Bayar -->
        <div class="row mb-2 align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                <app-form-label [Caption]="'Kurang Bayar'"></app-form-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                <p class="text-hijau-tua mb-1 formLabel">
                    {{ SisaKurangBayar > 0 ? ( SisaKurangBayar | currency: 'Rp.') : 0 }}
                </p>
            </div>
        </div>

        <!-- Bank Payment -->
        <div class="row mb-2 align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                <app-form-label [Caption]="'Nama Bank'"></app-form-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                <ejs-dropdownlist [dataSource]="DropdownBankDatasource" [fields]="DropdownBankField"
                    formControlName="id_bank_payment">
                </ejs-dropdownlist>
            </div>
        </div>

        <!-- Jumlah Bayar -->
        <div class="row mb-0 align-items-center">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                <app-form-label [Caption]="'Jumlah Bayar'"></app-form-label>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                <ejs-numerictextbox [format]="'N2'" formControlName="jumlah_bayar" [showClearButton]="false"
                    [showSpinButton]="false" [value]="SisaKurangBayar" [max]="SisaKurangBayar"
                    (keyup.enter)="onSubmitPayment(FormPaymentMethod.value)" [enabled]="SisaKurangBayar > 0">
                </ejs-numerictextbox>
            </div>
        </div>
    </div>
</div>