<div *ngIf="ShowSidebar" class="row h-100 align-items-between">
    <!-- Profile -->
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
        <div class="row justify-content-between bg-hijau-tua border-radius-20-bottom-right shadow-sm bg_logo">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0">
                <div class="row align-items-center pt-5">
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 text-center px-0 " (click)="onBackToBeranda()">
                        <!-- <p class="text-white mb-0 fw-bold cursor-pointer">
                            Emerald <br>
                            Aesthetic Clinic
                        </p> -->
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center px-1 pb-1 pt-0 bg-abu rounded me-3"
                        (click)="onLogout()">
                        <img src="../../../../assets/image/logout.png" style="height: 1rem;">
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center divImgUser">
                <img src="../../../../assets/image/user.png" alt="" class="imgUser shadow">
            </div>
        </div>

        <div class="row mt-5 mb-4">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <p class="fw-bold mb-0 text-hitam">
                    {{ UserData ? UserData.full_name : '' }}
                </p>
                <p class="mb-0 text-hitam" style="font-size: 14px;">
                    {{ UserData ? (UserData.nama_role | titlecase) : '' }}
                </p>
            </div>
        </div>

        <div class="row" style="height: calc(100vh - 18rem); overflow-x: auto;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2 px-0" data-aos="fade-right" data-aos-delay="100">
                <ul class="list-group">
                    <li *ngFor="let item of SidebarMenu; let i = index" class="list-group-item px-2 border-0">
                        <div class="row align-items-center cursor-pointer mb-0 sidebarParent"
                            (click)="item.sidebarChild ? onShowSidebarChildMenu(item, ShowChild) : onClickSidebarMenuItem(item)">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 px-0 text-start">
                                <p *ngIf="item.sidebarChild" class="text-hitam mb-0" style="font-size: 15px;">
                                    <i [id]="item.id_menu_sidebar + 'Icon'" class="fas fa-chevron-right fa-xs"></i>
                                </p>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 px-0 text-center">
                                <p class="text-hitam mb-0" style="font-size: 15px;">
                                    <i class="fas {{ item.icon }} fa-sm"></i>
                                </p>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <p class="text-hitam mb-0 fw-bold" style="font-size: 15px;">
                                    {{ item.caption }}
                                </p>
                            </div>
                        </div>

                        <div [id]="item.id_menu_sidebar+'ChildMenuDiv'"
                            class="row align-items-center cursor-pointer mt-2 ms-2 ps-2 hideChild">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 px-0 mb-0">
                                <ul class="list-group rounded">
                                    <li *ngFor="let child of item.sidebarChild"
                                        class="list-group-item px-2 py-1 border-0 bg-abu">
                                        <div class="row align-items-center" (click)="onClickSidebarMenuItem(child)">
                                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 px-0 text-start">
                                                <p class="text-hitam mb-0" style="font-size: 15px;">
                                                    <i class="fas {{ child.icon }} fa-sm"></i>
                                                </p>
                                            </div>
                                            <div class="col-lg-11 col-md-11 col-sm-11 col-xs-11">
                                                <p class="text-hitam mb-0 fw-bold" style="font-size: 15px;">
                                                    {{ child.caption }}
                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>