section#sidebar {
  background-color: var(--putih);
  height: 100vh;
}

section#sidebar.collapse {
  visibility: hidden;
}

section#sidebar.shown {
  visibility: visible;
}

.bg_logo {
  background-image: url("../../../../assets/image/1.png");
  background-position: center;
  background-size: 10rem;
  background-repeat: no-repeat;
}

div.divImgUser {
  transform: translate(0%, 65%);
}

img.imgUser {
  height: 4.5rem;
  background-color: var(--abu);
  border-radius: 50%;
  padding: 10px;
}

.sidebarParent:hover {
  font-weight: 500;
  transition: transform 250ms, opacity 400ms;
  transform: translateY(-5px);
}

.sidebarParent.active {
  font-weight: 600;
  color: var(--hijau-tua);
}

.showChild {
  display: flex;
  border-radius: 5px;
}

.hideChild {
  display: none !important;
}
