<app-base-layout>
    <div class="row">
        <!-- Total -->
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
            <div class="card shadow-sm">
                <div class="card-header bg-abu">
                    <h4 class="modal-title">
                        Billing Information
                    </h4>
                </div>
                <div class="card-body px-2 cardInfoPasien">
                    <div class="row" [formGroup]="FormTransHeader">
                        <!-- Pencarian Pasien -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ps-0">
                                    <app-form-label [Caption]="'Pasien'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <div class="input-group input-group-sm mb-0">
                                        <input id="nama_pasien" type="text" class="form-control" readonly>
                                        <span class="input-group-text bg-hijau-tua border-0 cursor-pointer"
                                            style="border-top-right-radius: 0.2rem; border-bottom-right-radius: 0.2rem;  "
                                            id="SearchPasien" (click)="FilterDialogPasien.onOpenFilterDialog()">
                                            <i class="fas fa-search fa-xs text-white"></i>
                                        </span>

                                        <app-filter-dialog #FilterDialogPasien [FilterDialogProp]="FilterDialogProp"
                                            (onChooseResult)="handleChooseFilterDialog($event)">
                                        </app-filter-dialog>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Nama Sales -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3 pb-3 border-bottom">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ps-0">
                                    <app-form-label [Caption]="'Marketing'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <ejs-dropdownlist #DropdownMarketing formControlName="id_marketing"
                                        [dataSource]="DropdownMarketingDatasource" [fields]="DropdownMarketingField">
                                    </ejs-dropdownlist>
                                </div>
                            </div>
                        </div>

                        <!-- Total -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Subtotal'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ Total | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Diskon -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Diskon'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ Diskon | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Voucher -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Voucher'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <div class="input-group input-group-sm mb-0">
                                        <input id="nama_voucher" type="text" class="form-control" readonly>
                                        <span class="input-group-text bg-hijau-tua border-0 cursor-pointer"
                                            style="border-top-right-radius: 0.2rem; border-bottom-right-radius: 0.2rem;  "
                                            id="SearchVoucher" (click)="FilterDialogVoucher.onOpenFilterDialog()">
                                            <i class="fas fa-search fa-xs text-white"></i>
                                        </span>

                                        <app-filter-dialog #FilterDialogVoucher
                                            [FilterDialogProp]="FilterVoucherDialogProp"
                                            (onChooseResult)="handleChooseFilterVoucherDialog($event)">
                                        </app-filter-dialog>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Total -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Total'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ Total2 | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- PPn 11% -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'PPn 11%'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ PPn | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Services 5% -->
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Services 5%'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ ServicesTaxes | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div> -->

                        <!-- Grand Total -->
                        <!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                            <div class="row">
                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                    <app-form-label [Caption]="'Grand Total'"></app-form-label>
                                </div>
                                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-0">
                                    <p class="text-hijau-tua mb-1 formLabel text-end">
                                        {{ GrandTotal | currency: 'Rp.' }}
                                    </p>
                                </div>
                            </div>
                        </div> -->

                        <!-- Button Pay -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 d-grid gap-2 mt-2">
                            <button class="btn btn-hijau-tua" type="button" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasPayment">
                                Pay Now {{ GrandTotal | currency: 'Rp. ' }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Detail -->
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 px-3">
            <!-- Treatment -->
            <div class="row mb-3">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header bg-abu">
                            <h4 class="modal-title">
                                Treatment
                            </h4>
                        </div>
                        <div class="card-body p-2 cardBillingDetail">
                            <ul class="list-group">
                                <li *ngFor="let item of DetailDatasource?.tdmk; let i = index"
                                    class="list-group-item shadow-sm border-0 mb-3 rounded {{ item.status_bayar ? '' : 'bg-abu' }}">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 px-0">
                                            <p class="text-hijau-tua mb-1 fw-bold">
                                                {{ item.nama_setup_tarif | titlecase }}
                                            </p>
                                            <p class="text-hijau-muda mb-1">
                                                {{ item.qty }} @ {{ item.unit_amount | currency: 'Rp. ' }} = {{
                                                item.total_amount | currency: 'Rp. ' }}
                                            </p>
                                            <p class="text-hijau-tua mb-0">
                                                Diskon {{ item.diskon_nominal | currency: 'Rp. ' }}
                                            </p>
                                        </div>
                                        <!-- <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 px-0">
                                           
                                        </div> -->
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 px-0 text-center">
                                            <span class="badge bg-success cursor-pointer me-2" style="font-size: 14px;"
                                                (click)="onEditDetailTreatment(item, i)">
                                                <i class="fas fa-edit fa-sm"></i>
                                            </span>
                                            <span *ngIf="item.status_bayar" class="badge bg-warning cursor-pointer"
                                                style="font-size: 14px;"
                                                (click)="onChangeStateDetailTreatment(item, i, false)">
                                                <i class="fas fa-trash fa-sm"></i>
                                            </span>
                                            <span *ngIf="!item.status_bayar" class="badge bg-primary cursor-pointer"
                                                style="font-size: 14px;"
                                                (click)="onChangeStateDetailTreatment(item, i, true)">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Obat dan Skincare -->
            <div class="row mb-0">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header bg-abu">
                            <h4 class="modal-title">
                                Obat & Skincare
                            </h4>
                        </div>
                        <div class="card-body p-2 cardBillingDetail">
                            <ul class="list-group">
                                <li *ngFor="let item of DetailDatasource?.resep; let i = index"
                                    class="list-group-item shadow-sm border-0 mb-3 rounded {{ item.status_bayar ? '' : 'bg-abu' }}">
                                    <div class="row">
                                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 px-0">
                                            <p class="text-hijau-tua mb-1 fw-bold">
                                                {{ item.nama_obat | titlecase }}
                                            </p>
                                            <p class="text-hijau-muda mb-0">
                                                {{ item.qty }} @ {{ item.unit_amount | currency: 'Rp. ' }} = {{
                                                item.total_amount | currency: 'Rp. ' }}
                                            </p>

                                        </div>
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 text-center">
                                            <span *ngIf="item.status_bayar" class="badge bg-warning cursor-pointer"
                                                style="font-size: 14px;"
                                                (click)="onChangeStateDetailResep(item, i, false)">
                                                <i class="fas fa-trash fa-sm"></i>
                                            </span>
                                            <span *ngIf="!item.status_bayar" class="badge bg-primary cursor-pointer"
                                                style="font-size: 14px;"
                                                (click)="onChangeStateDetailResep(item, i, true)">
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Offcanvas Payment -->
    <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasPayment" aria-labelledby="offcanvasPaymentLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasPaymentLabel">Payment Method</h5>
            <button id="btnCloseOffcanvas" type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close">
            </button>
        </div>
        <div class="offcanvas-body small">
            <div class="row">
                <!-- Input Payment -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- Cash -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioPaymentMethod"
                                    id="radioPaymentMethodCash" (click)="handleChangePaymentMethodState('cash')"
                                    [checked]="true">
                                <label for="radioPaymentMethodCash" class="form-label text-hijau-tua fw-bold">
                                    Cash
                                </label>
                            </div>
                        </div>
                        <div *ngIf="PaymentDetailState == 'cash'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-cash #CashComp (onSendPaymentCash)="onReceivePaymentMethod($event)">
                                    </app-cash>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- QR -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioPaymentMethod"
                                    id="radioPaymentMethodQR" (click)="handleChangePaymentMethodState('qris')">
                                <label for="radioPaymentMethodQR" class="form-label text-hijau-tua fw-bold">
                                    QR
                                </label>
                            </div>
                        </div>
                        <div *ngIf="PaymentDetailState == 'qris'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-qris #QRComp (onSendPaymentQr)="onReceivePaymentMethod($event)">
                                    </app-qris>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Debit Card -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioPaymentMethod"
                                    id="radioPaymentMethodDebit" (click)="handleChangePaymentMethodState('debit_card')">
                                <label for="radioPaymentMethodDebit" class="form-label text-hijau-tua fw-bold">
                                    Debit Card
                                </label>
                            </div>
                        </div>
                        <div *ngIf="PaymentDetailState == 'debit_card'" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-debit-card #DebitCardComp
                                        (onSendPaymentDebitCard)="onReceivePaymentMethod($event)">
                                    </app-debit-card>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Credit Card -->
                    <div class="row mb-0">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioPaymentMethod"
                                    id="radioPaymentMethodCredit"
                                    (click)="handleChangePaymentMethodState('credit_card')">
                                <label for="radioPaymentMethodCredit" class="form-label text-hijau-tua fw-bold">
                                    Credit Card
                                </label>
                            </div>
                        </div>
                        <div *ngIf="PaymentDetailState == 'credit_card'"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="card">
                                <div class="card-body">
                                    <app-credit-card #CreditCardComp
                                        (onSendPaymentCreditCard)="onReceivePaymentMethod($event)">
                                    </app-credit-card>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- List Payment -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 d-grid gap-2">
                    <div class="card shadow-sm mb-2">
                        <div class="card-header bg-abu">
                            <h5 class="modal-title">Daftar Payment</h5>
                        </div>
                        <div class="card-body" style=" height: 20rem; overflow-y: auto;">
                            <div *ngFor="let item of ListPayment; let i = index" class="row mb-2 align-items-center">
                                <div class="col-lg-5 col-md-5 col-md-5 col-sm-5">
                                    <p class="text-hijau-tua mb-0">
                                        {{ item.payment_method }}
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
                                    <p class="text-hijau-tua mb-0">
                                        {{ item.jumlah_bayar | currency: 'Rp. ' }}
                                    </p>
                                </div>
                                <div class="col-lg-1 col-md-1 col-md-1 col-sm-1 px-0 text-center"
                                    (click)="onDeletePaymentMethod(i)">
                                    <span class="fas fa-times fa-xs text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row mb-2">
                                <div class="col-lg-5 col-md-5 col-md-5 col-sm-5">
                                    <p class="text-hijau-tua mb-0">
                                        Kurang Bayar
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
                                    <p class="text-hijau-tua mb-0">
                                        {{ KurangBayar > 0 ? (KurangBayar | currency: 'Rp. ') : 0 }}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-2">
                                <div class="col-lg-5 col-md-5 col-md-5 col-sm-5">
                                    <p class="text-hijau-tua mb-0">
                                        Total Pembayaran
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
                                    <p class="text-hijau-tua mb-0">
                                        {{ TotalBayar | currency: 'Rp. ' }}
                                    </p>
                                </div>
                            </div>
                            <div class="row mb-0">
                                <div class="col-lg-5 col-md-5 col-md-5 col-sm-5">
                                    <p class="text-hijau-tua mb-0">
                                        Kembalian
                                    </p>
                                </div>
                                <div class="col-lg-6 col-md-6 col-md-6 col-sm-6">
                                    <p class="text-hijau-tua mb-0">
                                        {{ (TotalBayar - GrandTotal) > 0 ? (TotalBayar - GrandTotal | currency: 'Rp. ')
                                        : 0 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary btn-sm" type="button" (click)="onSubmitBillingPasien()">
                        Proceed Billing
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Update Detail Treatment -->
    <ng-template #ModalUpdateDetailTreatment>
        <div class="modal-header py-2 bg-abu">
            <h4 class="modal-title pull-left">
                Edit Diskon Treatment
            </h4>
            <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                <span aria-hidden="true" class="visually-hidden">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="FormUpdateDetailTreatment">
                <!-- Nama Voucher -->
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <app-form-label [Caption]="'Nama Treatment'"></app-form-label>
                        <input class="form-control form-select-sm" type="text" formControlName="nama_setup_tarif"
                            readonly>
                    </div>
                </div>

                <!-- Diskon -->
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <app-form-label [Caption]="'Diskon (Rp)'"></app-form-label>
                        <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                            [max]="total_amount_treatment.value" formControlName="diskon_nominal"
                            (change)="handleChangeDiskonNominalTreatment($event)">
                        </ejs-numerictextbox>
                    </div>
                </div>

                <!-- Subtotal -->
                <div class="row mb-3">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <app-form-label [Caption]="'Subtotal'"></app-form-label>
                        <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                            formControlName="total_amount_treatment" [enabled]="false">
                        </ejs-numerictextbox>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer py-2">
            <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef?.hide()">
                Close
            </button>
            <button type="button" class="btn btn-warning btn-sm"
                (click)="onUpdateDetailTreatment(FormUpdateDetailTreatment.value)">
                Update
            </button>
        </div>
    </ng-template>
</app-base-layout>