<app-base-layout>
    <div class="row h-100">
        <!-- Action Button -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-end mb-2">
            <app-action-button [ActionButton]="ActionButton" (onClickActionButton)="handleClickActionButton($event)">
            </app-action-button>
        </div>

        <!-- Offcanvas Filter -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="height: calc(100vh - 12rem);">
            <app-filter #FilterComp [FilterAttribute]="FilterAttribute" (onSearchFilter)="handleSearchFilter($event)">
            </app-filter>

            <app-grid #GridComp [GridAttributes]="GridAttributes" (onSelectionChange)="handleSelectionChanged($event)">
            </app-grid>
        </div>

        <!-- Modal Add Obat -->
        <ng-template #ModalAddObat>
            <div class="modal-header py-2 bg-abu">
                <h4 class="modal-title pull-left">
                    {{ FormSetupObatState == 'insert' ? 'Insert Obat' : 'Update Obat' }}
                </h4>
                <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
                    <span aria-hidden="true" class="visually-hidden">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="FormSetupObat">
                    <!-- Nama Obat -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Nama Obat'"></app-form-label>
                            <input class="form-control" type="text" formControlName="nama_obat">
                            <app-form-validator [Show]="nama_obat.touched && nama_obat.invalid"
                                [Caption]="'Nama Obat Tidak Boleh Kosong'">
                            </app-form-validator>
                        </div>
                    </div>

                    <!-- Deskripsi Obat -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Deskripsi Obat'"></app-form-label>
                            <input class="form-control" type="text" formControlName="deskripsi_obat">
                            <app-form-validator [Show]="deskripsi_obat.touched && deskripsi_obat.invalid"
                                [Caption]="'Deskripsi Obat Tidak Boleh Kosong'">
                            </app-form-validator>
                        </div>
                    </div>

                    <!-- Keterangan Pemakaian -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Keterangan Pemakaian'"></app-form-label>
                            <input class="form-control" type="text" formControlName="keterangan_pemakaian">
                            <app-form-validator [Show]="keterangan_pemakaian.touched && keterangan_pemakaian.invalid"
                                [Caption]="'Keterangan Pemakaian Tidak Boleh Kosong'">
                            </app-form-validator>
                        </div>
                    </div>

                    <!-- Harga Jual -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Harga Jual'"></app-form-label>
                            <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                                formControlName="harga_jual">
                            </ejs-numerictextbox>
                            <app-form-validator [Show]="harga_jual.touched && harga_jual.invalid"
                                [Caption]="'Harga Jual Tidak Boleh Kosong'">
                            </app-form-validator>
                        </div>
                    </div>

                    <!-- Harga Jual -->
                    <div class="row mb-3">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <app-form-label [Caption]="'Prosentase PPn'"></app-form-label>
                            <ejs-numerictextbox [format]="'N2'" [showClearButton]="false" [showSpinButton]="false"
                                formControlName="prosentase_ppn">
                            </ejs-numerictextbox>
                            <app-form-validator [Show]="prosentase_ppn.touched && prosentase_ppn.invalid"
                                [Caption]="'Prosentase PPn Tidak Boleh Kosong'">
                            </app-form-validator>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer py-2">
                <button type="button" class="btn btn-secondary btn-sm" (click)="modalRef?.hide()">
                    Close
                </button>
                <button *ngIf="FormSetupObatState == 'insert'" type="button" class="btn btn-primary btn-sm"
                    (click)="onSubmitForm(FormSetupObat.value)">
                    Submit
                </button>
                <button *ngIf="FormSetupObatState == 'update'" type="button" class="btn btn-warning btn-sm"
                    (click)="onUpdateForm(FormSetupObat.value)">
                    Update
                </button>
            </div>
        </ng-template>
    </div>
</app-base-layout>