<app-base-layout>
    <app-tab #TabRef (onGetSelectedTab)="handleSelectedTab($event)"
        (onClickActionButton)="handleClickActionButton($event)">
        <!-- Data Pasien -->
        <app-tab-item>
            <app-tab-header [id]="'data_pasien'" [ActionButton]="onSetActionButton('data_pasien')">
                Data Pasien
            </app-tab-header>
            <app-tab-body>
                <div class="row h-100">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- Offcanvas Filter -->
                        <app-filter #FilterComp [FilterAttribute]="FilterAttribute"
                            (onSearchFilter)="handleSearchFilter($event)">
                        </app-filter>

                        <app-grid #GridComp [GridAttributes]="GridAttributes"></app-grid>
                    </div>
                </div>
            </app-tab-body>
        </app-tab-item>

        <!-- Pendaftaran Pasien -->
        <app-tab-item>
            <app-tab-header [id]="'pendaftaran_pasien'" [ActionButton]="onSetActionButton('pendaftaran_pasien')">
                Pendaftaran Pasien
            </app-tab-header>
            <app-tab-body>
                <form [formGroup]="FormPendaftaranPasien">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!-- No. Identitas -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'No. Identitas'"></app-form-label>
                                <input class="form-control" type="text" formControlName="no_identitas">
                                <app-form-validator [Show]="no_identitas.touched && no_identitas.invalid"
                                    [Caption]="'No. Identitas Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>

                            <!-- Nama Pasien -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'Nama Lengkap'"></app-form-label>
                                <input class="form-control" type="text" formControlName="nama_pasien">
                                <app-form-validator [Show]="nama_pasien.touched && nama_pasien.invalid"
                                    [Caption]="'Nama Pasien Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>

                            <!-- Tgl. Lahir -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'Tgl. Lahir'"></app-form-label>
                                <ejs-datepicker [format]="'dd/MM/yyyy'" formControlName="tgl_lahir"></ejs-datepicker>
                                <app-form-validator [Show]="tgl_lahir.touched && tgl_lahir.invalid"
                                    [Caption]="'Tgl. Lahir Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>

                            <!-- Gender -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'Gender'"></app-form-label>
                                <ejs-dropdownlist [dataSource]="GenderDatasource" [fields]="GenderField"
                                    formControlName="gender">
                                </ejs-dropdownlist>
                                <app-form-validator [Show]="gender.touched && gender.invalid"
                                    [Caption]="'Gender Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!-- Alamat -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'Alamat Lengkap'"></app-form-label>
                                <textarea class="form-control" formControlName="alamat"
                                    style="height: 120px; resize: none;"></textarea>
                                <app-form-validator [Show]="alamat.touched && alamat.invalid"
                                    [Caption]="'Alamat Lengkap Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>

                            <!-- No. Handphone -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-2">
                                <app-form-label [Caption]="'No. Handphone'"></app-form-label>
                                <div class="input-group">
                                    <span class="input-group-text" id="phone">+62</span>
                                    <input type="text" class="form-control" formControlName="no_handphone"
                                        aria-describedby="phone">
                                </div>
                                <app-form-validator [Show]="no_handphone.touched && no_handphone.invalid"
                                    [Caption]="'No. Handphone Tidak Boleh Kosong'">
                                </app-form-validator>
                            </div>

                            <!-- Email -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-3">
                                <app-form-label [Caption]="'Email'"></app-form-label>
                                <input type="text" class="form-control">
                                <!-- <app-form-validator [Show]="no_handphone.touched && no_handphone.invalid"
                                    [Caption]="'No. Handphone Tidak Boleh Kosong'">
                                </app-form-validator> -->
                            </div>
                        </div>
                    </div>
                </form>
            </app-tab-body>
        </app-tab-item>
    </app-tab>
</app-base-layout>